*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
main{
	width: 960px;
	height: 100%;
	margin: 50px auto;
	padding-bottom: 50px;
	border-bottom: 1px solid gray;
}
.image{
	height: 160px;
	width:100%;
	padding: auto;
}
.contents-box{
	width: 32%;
	height: 100%;
	float: left;
	margin-right: 2%;
	padding: 10px;
	border: 1px solid gray;
	position: relative;
}
.contents-box2{
	width: 32%;
	height: 100%;
	float: left;
	padding: 10px;
	border: 1px solid gray;
	position: relative;
}
.step{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: orange;
}
p, h3{
	color: gray;
}
@media screen and (max-width:425px){
	.clearfix{
		width: 90%;
		padding: 0;
		border-bottom: none;
	}
	.contents-box{
		width: 90%;
		float: none;
		margin:0 auto 20px;
	}
	.contents-box2{
		width: 90%;
		float: none;
		margin: auto;
	}
	.image{
		width: 90%;
	}
}
